*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header{
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 999999;
}
.card>div:hover,.min>div:hover,.min2>div:hover{
   cursor: pointer;
   transform:scale(1.05);
}
img:hover{
    cursor: pointer ;
    
}
nav{
    width: 100%;
    height: 70px;
    background-color: #008ecc;
    display: flex;
    
   

}
nav>div>div{
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 4px;
}
a{
    display: block;
    text-decoration: none;
    color: white;
}
nav img{
    display: block;
}
nav>div:nth-child(1){
    margin:20px 10px 30px 50px;

}
nav>div:nth-child(2){
    margin:20px 10px 25px 30px;

}

nav>div:nth-child(3)>input{
    width: 700px;
    height: 30px;
    margin:15px 10px 50px 50px; 
    border-radius: 5px;

}
nav>div:nth-child(4){
    margin:20px 10px 30px 30px;
    

}
nav>div:nth-child(5){
    margin:23px 10px 30px 0px;

}
nav>div:nth-child(6){
    margin:23px 10px 30px 60px;
    filter: brightness(1.0);

}
nav>div:nth-child(7){
    margin:23px 10px 30px -10px;

}
#nav2{
    width: 100%;
    height: 40px;
    color: black;
    background-color:#f3f3f3;
    display: flex;
    text-align: center;
    justify-content: space-around;

}
#nav2>div{
    width: 13%;
    padding-top: 10px;
}
#nav2>div>a{
   color: black;
}
.slide img{
    width: 100% ;
}
.banner{
    width: 98%;
    margin: auto;
}
.banner img{
    width: 100%;
}
.minislide{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.minislide div{
    width: 95%;
    margin: auto;

}
.minislide>div>img{
    width: 98%;
}
.product{
    width: 92%;
    margin: auto;
}
.card{
  display: grid;
  grid-template-columns: repeat(6,1fr);

}
.card>div  {
    width: 90%;
    margin: 10px;

}
.card>div>img{
    width: 100%;
}
.pro{
    border: 1px solid rgb(226, 226, 226);
    border-radius: 5px;
    padding: 5px;
}
.pro>img{
    border-radius: 5px;
}
.pro>button{
    width: 98%;
    border-radius: 5px;
    border: 0px;
    color: white;
    background-color: #008ecc;
    padding: 4px 0px 4px 0px ;
}
.min{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin-top: 50px;
}
.min>div{
    width: 100%;
    height: 80px;
}
.min>div>img{
    width: 100%;
    border-radius: 5px;
}
.min2>div{
  height: auto;
}
.bannersection{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
}
.footer{
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    background-color: #f3f3f3;
    margin-top: 30px;
    border-bottom: 0.5px solid rgb(224, 224, 224) ;
}
.footer>div{
    width: 400px;
    height: 400px;
    margin-top: 30px;
    
}
.footer a{
    color: #008ecc;
    display: inline;
}
.footer>div:nth-child(3)>div{
    width: 250px;
    display: flex;
    justify-content: space-between;
    
}
.footer>div:nth-child(3){
    border-left: 0.5px solid rgb(224, 224, 224) ;
    padding-left: 20px;
}
.footer2{
    display: flex;
    background-color: #f3f3f3;
    margin-top: 0px;
}
.footer2>div{
    width: 50%;
    height: 40px;
    /* border: 1px solid black; */
    text-align: center;
    font-size: smaller;
    color: grey;
}


