.container{
    width: 90%;
    margin: auto;
    display: flex;
    background-color: #f3f3f3;
    border-radius: 10px;
    justify-content: center;
}
.container>div:nth-child(1){
   width: 40%;
}
.container>div:nth-child(1)>img{
    width: 100%;
    border-radius: 10px 0px 0px 10px;
 }

.container>div:nth-child(2){
    width: 60%;
    
 }
 .container>div:nth-child(2)>img{
    display: block;
    margin: auto;
    margin-top: 10px;
 }
 .container>div:nth-child(2)>div{
    
   width: 190px ;
   margin: auto;
   margin-top: 10px;
 }
 button{
    width: 70px;
    height: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:  #008ecc;
    color: white;
    border: 0px;
    margin: 10px;
    border-radius: 5px;
 }
  input{
    width: 40%;
    margin: 10px;
    height: 25px;
    border-radius: 5px;
    
 }
 form{
    margin-top: 30px;
  text-align: center;
 }
 h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
 }